*{
padding: 0;
margin: 0;
}

body{
background-color: #1a1a1a;
}

li a{
text-decoration: none; /*Sublinhado*/
font-size: 20px; /*Tamanho*/
color: #ffffff; /*Cor*/
padding: 20px;
}

li{
list-style: none; /*Pontuação*/
}

#logo{
height: 90px; /*Altura*/
width: 140px; /*Largura*/
}

ul{
display: flex; /*Organização Interna*/
flex-direction: row; /*Direção*/
}

.menu{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
}

.caixa-img-logo{
height: 90px;
width: 90px;
}

.container{
  width: 100%; /* Garante que o container ocupe 100% da largura do elemento pai */
  max-width: 1200px; /* Define a largura máxima que o container pode atingir */
  margin: 0 auto; /* Centraliza o container horizontalmente */
  padding: 0 15px; /* Adiciona um espaçamento nas laterais para evitar que o conteúdo fique colado na tela */
  } 

.section-center{
display: flex;
justify-content: center;
}

.banner01{
background-image: url("assets/banner01.png");
background-repeat: no-repeat;
background-size: cover;
height: 500px;
width: 1000px;
border-radius: 15px;
display: flex;
align-items: center;
}

.texto-banner01{
width: 220px;
padding: 35px;
}

.paragrafo-banner01{
font-size: 25px;
color: #ffffff;
}

.btn-banner01{
width: 145px;
height: 40px;
border-radius: 30px;
background-color: #333333;
color: #ffffff;
font-weight: bold;
border: none;
font-size: 19px;
margin: 25px;
}

.estutura-titulo{
display: flex;
justify-content: center;
}

.titulo-primario{
color: #ffffff;
font-size: 40px;
font-weight:700;
padding: 60px;
}

.carousel{
display: flex;
flex-direction: row;
justify-content: center;
gap: 15px;
}

.produtos{
height: 350px;
width: 190px;
}
  
.valor{
font-weight: bold;
font-size: 20px;
color: #ffffff;
display: flex;
justify-content: center;
}

.cores{
height: 20px;
width: 20px;
border-radius: 100%;
}

.vermelho{
background-color: red;
}

.azul{
background-color: blue;
}

.laranja{
background-color: orange;
}

.preto{
background-color: black;
}

.caixa-cores{
display: flex;
justify-content: space-evenly;
}

.texto-card{
display: flex;
justify-content:center;
}

.banner02{
background-image: url("assets/banner02.png");
background-repeat: no-repeat;
background-size: cover;
margin: 70px;
height: 500px;
width: 1000px;
border-radius: 15px;
display: flex;
justify-content: end;

}

.texto-banner02{
margin: 20px;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
}

.paragrafo-banner02{
font-size: 40px;
font-weight: bold;
color: #ffffff;
}

.btn-banner02{
width: 145px;
height: 40px;
border-radius: 30px;
background-color: #333333;
border: none;
box-shadow: #1a1a1a;
color: #ffffff;
font-size: 15px;
}

footer{
  background-color: black;
  width: 2000pxpx;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.topicos-footer{
  display: flex;
  height: 175px;
  width: 1000px;
  justify-content: start;
  align-items: center;
  gap: 300px;
  font-size: 20px;
  margin: 15px;
  line-height: 30px;
}

.titulo-recurso{
  color: #333333;
  font-weight: bold;
}

.textos-recurso{
  color: #ffffff;
}

.titulo-e-contact{
  color: #333333;
  font-weight: bold;
}

.textos-e-contact{
  color: #ffffff;
}

.descricao{
  height: 300px;
  width: 1000px;
  border-radius: 10px;
  background-color: #333333;
  padding: 40px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
  gap: 30px;
}

.texto-descricao{
  color: #ffffff;
}

.politicas-descricao{
color: #ffffff;
display: flex;
justify-content: center;
align-items: end;
}

.redes-descricao{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 10px;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
}

.bi{
  color: #ffffff;
  font-size: 30px;
}

.redes-e-politicas-descricao{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

.logo-descricao{
 display: flex;
 align-items: end;
 justify-content: right;
}

.parte-final-descricao{
  display: flex;
  justify-content: right;
  gap: 90px;
}

.logo{
  height: 90px;
  width: 140px;
}